/img/Usuario/
/www/cordova.js
/www/cordova-2.7.0.js
/versions/
/services/files_up
/services/config.php
/www/IMG_19072013_164253.png
/www/IMG_19072013_164253.png
/www/js/conf.js
/services/app.ready.js
/www/js/config.js