 
 /*PAGE REGISTRO - BUSCAN PATROCINIO*/
 .list_buscan_patro{
    
 }
 .list_buscan_patro ul li{
    border-bottom: 1px dotted #bdc3c7;
    margin: 0 6px 7px 6px;
    padding-bottom: 7px;
 }
 .list_buscan_patro ul{
    
 }
 .list_buscan_patro ul li .avatar{
    width: 40px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-bottom:7px;
    padding: 8px 0px 0 0;
 }
 .list_buscan_patro ul li .avatar img{
    width: 40px;
    height: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 5px -1px #444;
 }
 .list_buscan_patro ul li .description_c{
    padding: 7px 5px 10px;
 }
 .list_buscan_patro ul li .description_c p{
    font-family: 'HelveticaLTStdLight';
    color: #75848e;
    font-size: 13px;
    font-weight: normal;
 }
 .list_buscan_patro ul li .description_c p span{
    color: #00a2e1;
 }
 .list_buscan_patro ul li .buttons{
    
 }
 .list_buscan_patro ul li .buttons a,.list_buscan_patro ul li .buttons a:hover,.list_buscan_patro ul li .buttons a:active{
    font-family: 'HelveticaLTStdLight';
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 0;
    width: 110px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
 }
 .list_buscan_patro ul li .buttons a.patrocinar{
    background: url("../img/icon_patrocina2.jpg") no-repeat scroll 5px 5px #00b969;
    background-size: 18px;
 }
 .list_buscan_patro ul li .buttons a.seguir{
    background: url("../img/icon_seguir.jpg") no-repeat scroll 5px 5px #ff5951;
    background-size: 17px;
 }
 .list_buscan_patro .form_search{
   margin: 7px;
 }
 .list_buscan_patro .form_search p{
    font-family: 'HelveticaLTStdLight';
    color: #7f8c8d;
    font-size: 12px;
    font-weight: normal;
 }
 .list_buscan_patro .form_search .input{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: url("../img/icon_search.jpg") no-repeat scroll right 0 transparent;
    background-size: 35px;
    padding: 0px 40px 0px 0;
    margin: 1px 0 15px 0;
 }
 .list_buscan_patro h4{
    text-align: center;
    border-bottom: 1px solid #b6b5b5;
    line-height: 2px;
    margin: 10px 0;
 }
 .list_buscan_patro h4 span{
    font-size: 12px;
    font-family: 'helvetica_lightregular';
    color: #46494a;
    background: #fff;
    padding: 0px 5px;
 }
 .list_buscan_patro h3{
    color: #00b968;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 0 5px;
 }
 .list_buscan_patro .form_search .input input:focus{
    box-shadow: 0px 0px 3px 1px #019add;
 }
 .list_buscan_patro .form_search a{
    color: #fff;
    border-radius: 4px;
    padding: 9px 5px;
    width: 45%;
    display: block;
    text-align: center;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 15px;
 }
 .list_buscan_patro .form_search a.terminar{
    float: left;
     background: #00b969;
 }
 .list_buscan_patro .form_search a.buscar{
    float: right;
     background: #ff6148;
 }
 
 .list_buscan_patro .form_search .input input ,.list_buscan_patro .form_search .input  .ui-input-text{
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    color: #7f8c8d;
    font-family: 'helvetica_lightregular';
    font-size: 16px;
    margin: 0;
 }
  .list_buscan_patro .form_search .input .ui-input-text input {
    border-right: 1px solid #ccc;
    padding: 9px 0 9px 5px!important;
 }
 /*PAGE REGISTRO - BUSCAN PATROCINIO*/
 
 
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/
 .content_list_two ul.elite_list li.ui-btn-up-c,.content_list_two ul.elite_list li.ui-btn-hover-c,
 .content_list_two ul.elite_list li,.content_list_two ul.elite_list{
   background: #3d586d;
   padding:0!important;
   margin:0px!important;
   border-top: 0!important;
   border-left: 0!important;
   border-right: 0!important;
   border-bottom: 1px solid #b1b1b1;
 }
 .content_list_two ul.elite_list li.ui-btn-down-c,.content_list_two ul.elite_list li{
    background: #4d6175;
 }
 .content_list_two ul.elite_list li .ui-icon.ui-icon-arrow-r.ui-icon-shadow{
    display: none;
 }
 .content_list_two ul.elite_list.ui-listview li.ui-li-has-arrow.ui-btn-hover-c{
    border-top: 0;
    border-left:0;
    border-right:0;
    border-bottom: 1px solid #b1b1b1;
}
 .content_list_two ul.elite_list li.ui-btn-hover-c *,.content_list_two ul.elite_list.ui-listview li.ui-li-has-arrow.ui-btn-hover-c *{
  padding: 0!important;
  border: 0!important;
  margin: 0!important;   
  text-shadow: none!important;
  letter-spacing: 0!important;
  font-family: 'helvetica_lightregular'!important;

 }
  .content_list_two ul.elite_list li.ui-btn-up-c div{
    border: none;
  }
 .content_list_two ul.elite_list li.ui-btn-up-c .ui-link-inherit{
    padding: 0;
    position: relative;
 }
 .content_list_two ul.elite_list{
    padding: 3px!important;
 }
 .content_list_two ul.elite_list li.ui-btn-up-c .recorte,.content_list_two ul.elite_list li.ui-btn-hover-c .recorte{
    height: 80px;
    margin: 0;
    overflow: hidden;
    width: 120px;
 }
 .content_list_two ul.elite_list li.ui-btn-up-c .recorte img,.content_list_two ul.elite_list li.ui-btn-hover-c .recorte img{
    height: 80px;
    width: 120px;
 } 
 .content_list_two ul.elite_list li.ui-btn-up-c .content_descripcion.left,.content_list_two ul.elite_list li.ui-btn-hover-c .content_descripcion.left{
    background: url("../img/arrow_list_elite.png") no-repeat scroll 0 0 transparent;
    height: 68px;
    left: 107px;
    overflow: visible;
    padding: 12px 0 0 25px!important;
    position: absolute;
 }
 .content_list_two ul.elite_list li.ui-btn-up-c .content_descripcion.left p,.content_list_two ul.elite_list li.li.ui-btn-hover-c .content_descripcion.left p
 ,.content_list_two ul.elite_list.ui-listview li.ui-li-has-arrow.ui-btn-hover-c .content_descripcion.left p
 ,.content_list_two ul.elite_list li.li.ui-btn-hover-c .content_descripcion.left a{
    color: #ddd!important;
    font-family: 'helvetica_lightregular';
    text-shadow: none;
    font-size:12px;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    white-space:normal; 
 }
 .content_list_two ul.elite_list li.ui-btn-up-c .content_descripcion.left p b,.content_list_two ul.elite_list li.ui-btn-hover-c .content_descripcion.left p b
 ,.content_list_two ul.elite_list li.ui-btn-hover-c .content_descripcion.left a b{
    color: #fff;
 }
 .content_list_two ul.elite_list li.ui-btn-hover-c .content_descripcion.left a b,.content_list_two ul.elite_list li.ui-btn-hover-c .content_descripcion.left p b{
    font-weight: bold;
 }
 .content_list_two ul.elite_list li.ui-btn-up-c .content_descripcion.left .button_blue,
 .content_list_two ul.elite_list li.ui-btn-hover-c .content_descripcion.left .button_blue
 {
     background: none repeat scroll 0 0 #00A3E2;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'HelveticaLTStdBoldCondensed'!important;
    font-size: 15px!important;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 0!important;
    text-align: center;
    text-shadow: none;
    width: 170px;
    margin: 7px 0!important;
 }
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/
 
 
 /*PAGE DESTACADOS ÉLITE home_destacado.html*/
 .list_destacados{
    
 }
 .list_destacados li{
    background: #ecf0f1;
    overflow: hidden;
    border-bottom: 1px solid #d8d9d9;
 }
 .list_destacados li .recorte{
    width: 140px;
    height: auto;
    max-height: 109px;
    float: left;
 }
 .list_destacados li .recorte img{
    width: 140px;
    height: auto;
    float: left;
    min-height: 65px;
 }
 .list_destacados li .content_descripcion{
    background: url("../img/arrow_list_destacado.png") no-repeat scroll 0 0 transparent;
    float: left;
    min-height: 65px;
    margin-left: -15px;
    padding-left: 15px;
 }
 .list_destacados li .content_descripcion p{
    font-family: 'helvetica_lightregular';
    font-size: 12px;
    color:#7e7e7e;
    font-weight: normal;
    padding: 10px 5px;
    display: inline-block;
 }
 .list_destacados li .content_descripcion p b{
    color:#1a91c4;
    font-family: 'helvetica_lightregular';
    font-size: 12px;
    font-weight: bold;
 }
 /*PAGE DESTACADOS home_destacado.html*/
 
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 .list_buscan_patro{
    
 }
 .list_buscan_patro li{
    margin-bottom: 5px;
    overflow: hidden;
 }
 .list_buscan_patro li .cont_top{
    background: #d8e8f3;
    overflow: hidden;
 }
 .list_buscan_patro li .cont_top .mount{
    float: left;
    clear: both;
    margin-top: 1px;
 }
 .list_buscan_patro li .mount span{
    background:#f39c11;
    display: inline-block;
    padding: 3px 15px;
    color: #fff;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 15px;
    width: 55px;
 }
 .list_buscan_patro li .cont_top .recorte{
    width: 85px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-right: 5px;
 }
 .list_buscan_patro li .cont_top .recorte img{
    width:85px;
    height: auto;
    float: left;
 }
 .list_buscan_patro li .cont_top .content_descripcion{
     font-family: 'helvetica_lightregular';
     font-size: 12px;
     color:#6b6b6b;
     padding: 5px 0 5px 0;
 }
 .list_buscan_patro li .cont_bottom{
    clear: both;
    border-top: 1px solid #fff;
 }
 .list_buscan_patro li .cont_bottom a h2{
    background: #3398de;
    color:#fff;
    display: inline-block;
    width: 149px;
    text-align: left;
    font-family: 'helvetica_lightregular';
    font-size: 12px;
    padding: 7px 5px;
 }
 .list_buscan_patro li .cont_bottom a span{
    color:#fff;
    display: inline-block;
    width: 149px;
    text-align: left;
    font-family: 'helvetica_lightregular';
    font-size: 12px;
    padding: 7px 5px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: url("../img/icon_patrocina.jpg") no-repeat scroll 10px 6px #27ae61;
    background-size:20px;
 }

 .list_buscan_patro li .cont_bottom a.link_profile{
    float: left;
    display: inline-block;
 }
 
 .list_buscan_patro li .cont_bottom a.link_patrocina{
    display: inline-block;
    float: right;
}
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 
 /*PAGE RECOMPENSAS HOME*/
 .list_recompensas li .cont_bottom a.link_profile h2{
    background: url("../img/icon_info.jpg") no-repeat scroll 2px 2px #3398de;
    background-size: 32px;
    padding: 10px 0px 11px 40px;
    width: 120px;
 }
 .list_recompensas li .cont_bottom a.link_patrocina span{
    padding: 10px 0px 11px 10px;
 }
 .list_recompensas li .cont_top .recorte{
    width:66px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 5px;
 }
 .list_recompensas li .cont_top .recorte img{
    width:66px;
    height: auto;
    float: left;
    border-radius: 120px;
 }
 /*PAGE RECOMPENSAS HOME*/
 
 /*PAGE LIST BLOG HOME*/
 .list_blog li{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
 }
 .list_blog li .cont_top{
    
 }
 .list_blog li .cont_top .content_descripcion{
    width: 80%;
    float: left;
    padding: 0px 0 0 5px;
 }
 .list_blog li .cont_top .time{
    width: 15%;
    float: right;
    background: #efefef;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
 }
 .list_blog li .cont_top .time span{
    display: block;
    clear: both;
    text-align: center;
 }
 .list_blog li .cont_top .time span.hour{
    color:#98b5b5;
    font-family: 'HelveticaLTStdLight';
    font-size: 11px;
    font-weight: normal;
 }
 .list_blog li .cont_top .time span.day_month{
    color:#849898;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 30px;
 }
 .list_blog li .cont_top .time span.day_week{
    color:#98b5b5;
    font-family: 'HelveticaLTStdLight';
    font-size: 12px;
    font-weight: normal;
 }
 .list_blog li .cont_top .content_descripcion h2{
    color:#00a0e3;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 14px;
 }
 .list_blog li .cont_top .content_descripcion p{
   color: #849898;
   font-family: 'HelveticaLTStdLight';
   font-size: 13px;
   font-weight: normal;
   padding-right: 3px;
 }
 .list_blog li .cont_bottom span{
    color: #00998d;
   font-family: 'HelveticaLTStdLight';
   font-size: 11px;
   font-weight: normal;
   margin-right: 15px;
 }
 .list_blog li .cont_bottom span.coments_count{
    background: url("../img/icon_coment.jpg") no-repeat scroll 0px 0px transparent;
    background-size:16px;
    padding:2px 0 2px 20px;
 }
 .list_blog li .cont_bottom span.like_count{
    background: url("../img/icon_like.jpg") no-repeat scroll 0px 0px transparent;
    background-size:16px;
    padding:2px 0 2px 20px;
 }
 .list_blog li .cont_bottom span b{
    font-weight: bold;
 }
 .list_blog li .cont_bottom,.list_blog li .cont_top{
    clear: both;
    overflow: hidden;
 }
 .list_blog li .cont_bottom{
    padding: 5px;
 }
 
 .content_info_blog{
    padding: 5px;
 }
 .content_info_blog .time_title{
    overflow: hidden;
 }
 
 .content_info_blog .time_title .time{
    float: left;
 }
 
  .content_info_blog .time_title .time > div{
    float: left;
    line-height: 13px;
    padding-top: 6px;
    padding-left: 5px;
  }
 .content_info_blog .time_title .time .day_month{
    font-family: 'HelveticaInserat';
    font-size: 32px;
    color:#859898;
    float: left;
 }
 .content_info_blog .time_title .time .month{
    font-family: 'HelveticaExtraCompressedRoman';
    font-size: 16px;
    color:#98b5b5;
    float: left;
    clear: both;
 }
 .content_info_blog .time_title .time .day_week{
    font-family: 'HelveticaCondensedMedium';
    font-size: 15px;
    color:#99b6b6;
    float: left;
    clear: both;
 }
 .content_info_blog .time_title h2{
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 15px;
    color:#00a1e3;
    float: left;
    margin-left: 15px;
 }
 .content_info_blog .description{
    overflow: hidden;
 }
 .content_info_blog .description .image{
   width: 100%;
    height: auto;
    max-width: 610px;
    overflow: hidden;
    margin: 5px 0;
 }
 .content_info_blog .description .image img{
    width: 100%;
    height: auto;
    max-width: 610px;
    float: left;
 }
 .content_info_blog .description p.text{
   color: #859998;
   font-family: 'HelveticaLTStdLight';
   font-size: 13px;
   font-weight: normal;
 }
 .content_info_blog .description p.text img{
    max-width: 100%;
    width: auto;
 }
 .content_info_blog .content_bottom{
    border-top: 1px solid #e1e1e1;
    margin: 15px 0;
    padding: 7px 0;
    overflow: hidden;
 }
 .content_info_blog .content_bottom span{
   color: #00998d;
   font-family: 'HelveticaLTStdLight';
   font-size: 12px;
   font-weight: normal;
   background-size:18px!important;
   padding:2px 0 2px 22px;
 }
 .content_info_blog .content_bottom span.coments_count{
    background: url("../img/icon_coment.jpg") no-repeat scroll 0px 0px transparent;
   margin-right: 15px;
 }
 .content_info_blog .content_bottom span.like_count{
    background: url("../img/icon_like.jpg") no-repeat scroll 0px 0px transparent;
 }
 .content_info_blog .content_bottom .buttons{
    margin: 10px 0;
 }
 .content_info_blog .content_bottom .buttons a{
    background: #ff6148;
    color: #fff;
    border-radius: 4px;
    padding: 7px 5px;
    width: 45%;
    display: block;
    text-align: center;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 18px;
 }
 .content_info_blog .content_bottom .buttons  a.coment_b{
    float: left;
 }
 .content_info_blog .content_bottom .buttons  a.like_b{
    float:right;
 }
 .content_info_blog.form_comment textarea{
    width:100%;
    border:  1px solid #d2d2d2;
    background: #fff;
    box-shadow:none;
    color: #00998d;
   font-family: 'HelveticaLTStdLight';
   font-size: 12px;
   font-weight: normal;
   height:140px;
    
 }
 
 .content_info_blog.form_comment .form_count{
    float: left;
 }
 
 .content_info_blog.form_comment .buttons{
    float: right;   
    margin-top: 0;
 }
 .content_info_blog.form_comment .buttons a{
    min-width: 120px;
 }
 .content_info_blog.form_comment .content_bottom{
    margin-top: 0;
    padding-top: 0;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    overflow: hidden;
 }
 .content_info_blog.form_comment .list_comments_blog li{
    overflow: hidden;
    clear: both;
    display: inline-block;
    width: 100%;
    margin:4px 0;
 }
 .content_info_blog.form_comment .list_comments_blog li .avatar{
    width: 15%;
    float: left;
    margin-right: 10px;
    text-align: center;
 }
 .content_info_blog.form_comment .list_comments_blog li .avatar img{
    width: 40px;
    height: auto;
    border-radius:120px;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment{
    
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment p{
    font-family: 'HelveticaLTStdLight';
    font-size: 12px;
    color: #a1adad;
    font-weight: normal;
 }
 
 .content_info_blog.form_comment .list_comments_blog li .text_comment p span{
    color:#00a0e3;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment{
    width: 77%;
    float: left;
    padding: 5px;
    border: 1px solid #c3c3c5;
    box-shadow: 1px 1px 4px -1px #ddd;
    border-radius: 2px;
    background: url("../img/bg_item_comment.png") repeat-x scroll left bottom #fff;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment > div{
    background: url("../img/b_comment_left.png") no-repeat scroll left center transparent;
    margin-left: -18px;
    padding-left: 18px;
 }
 .content_info_blog.form_comment .subtitle{
    color:#00a0e3;
    font-family: 'HelveticaLTStdLight';
    font-size: 15px;
 }

 /*PAGE LIST BLOG HOME*/
 
 /*PAGE INFO RONDA*/
 .content_info_ronda{
    
 }
 .content_info_ronda .description{
    position: relative;
 }
 .content_info_ronda .description .image{
    
 }
 .content_info_ronda .description .image img{
    width: 100%;
    
 }
 .content_info_ronda .description .text{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 .content_info_ronda .description .text h2{
    color:#fff;
    background:url("../img/bg_title.png") repeat scroll 0 0 transparent;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    padding: 5px 0;
 }
 .content_info_ronda .description .text p{
    background: #009c70;
    color: #fff;
    font-family: 'HelveticaLTStdLight';
    font-size: 15px;
    font-weight: normal;
    padding: 7px 0;
 }
 .content_info_ronda .description .text h2 span{
    font-family: 'HelveticaLTStdBoldCondensed';
 }
 .content_info_ronda .description .text h2 strong{
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 35px;
 }
 .content_info_ronda .profile{
    background: #edf2f3;
    width:auto;
    padding: 10px;
    overflow: hidden;
 }
 .content_info_ronda .profile img{
    border-radius:3px;
    box-shadow: 2px 2px 8px -3px #3d3d3d;
    width: 50px;
    float: left;
 }
 .content_info_ronda .profile .status{
    float: left;
    overflow: hidden;
    margin-left: 7px;
    padding: 7px 0 7px 0;
 }
 .content_info_ronda .profile .status span,.content_info_ronda .profile .status strong{
    float: left;
    clear: both;
 }
 
 .content_info_ronda .profile .status span{
   color:#8d9d9e; 
   font-family: 'HelveticaLTStdLight';
    font-size: 13px;
    font-weight: normal;
 }
 .content_info_ronda .profile .status strong{
    color:#36566e;
    font-family: 'HelveticaLTStdLight';
    font-size: 13px;
    font-weight: bold;
 }
 .content_info_ronda .profile a{
    color: #fff;
    font-family: 'HelveticaLTStdLight';
    font-size: 15px;
    font-weight: normal;
    background: #00b66b;
    border-radius: 3px;
    clear: both;
    display: block;
    width: 200px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
  }
 .content_info_ronda .profile > div{
    overflow: hidden;
    margin-bottom: 10px;
  }
  .content_info_ronda .content_bottom p{
    color: #869798;
    font-family: 'HelveticaLTStdLight';
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .content_info_ronda .content_bottom h3{
    color: #e55e63;
    font-family: 'HelveticaLTStdLight';
    font-size: 16px;
    font-weight: normal;
  }
  .content_info_ronda .content_bottom h4{
    background: #edf2f3;
    border-left: 2px solid #e55d62;
    padding: 5px 7px;
    overflow: hidden;
    
  }
  .content_info_ronda .content_bottom h4 span{
    color: #e55e63;
    font-family: 'HelveticaLTStdLight';
    font-size: 16px;
    font-weight: normal;
    padding: 4px 0px;
    float: left;
  }
  .content_info_ronda .content_bottom > div{
    margin: 15px 0;
  }
  .content_info_ronda .content_bottom h4 strong{
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 20px;
    color:#e55d62;
    float: right;
  }
  .content_info_ronda.actividad_r .description .text p{
    background:url("../img/bg_title.png") repeat scroll 0 0 transparent;
    padding-top: 0;
  }
  .content_info_ronda.actividad_r .description .text h2{
    padding-bottom: 0;
  }
  .content_info_ronda.actividad_r .menu_ronda,#edicion_datos_personales .options{
    width: 100%;
  }
  .content_info_ronda.actividad_r .menu_ronda a,#edicion_datos_personales .options a{
    background: #7bbcd0;
    width: 50%;
    font-family: 'HelveticaLTStdLight';
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    padding-top: 5px;
    display: block;
    text-align: center;
    line-height: 15px;
    float: left;
    min-height: 35px;
  }
  .content_info_ronda.actividad_r .menu_ronda a.tab_actividad{
    /*background-image:url("../img/icon_time.jpg");*/
  }
  .content_info_ronda.actividad_r .menu_ronda a.first{
    line-height: 30px;
  }
  .content_info_ronda.actividad_r .menu_ronda a.active,#edicion_datos_personales .options a.active{
    background: #fff;
    color: #6b7882;
    box-shadow: -3px -2px 5px -3px #444444;
  }
  .content_info_ronda.actividad_r .list_actividades{
    overflow: hidden;
    padding: 5px;
  }
  .content_info_ronda.actividad_r .list_actividades li{
    clear: both;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .content_info_ronda.actividad_r .list_actividades li .avatar{
    width: 30px;
    height: 31px;
    float: left;
    margin-right: 5px;
  }
  .content_info_ronda.actividad_r .list_actividades li .avatar img{
    width: 30px;
    height: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 5px -1px #444;
  }
  .content_info_ronda.actividad_r .content_bottom{
    clear: both;
  }
  .content_info_ronda.actividad_r .list_actividades li p{
    font-family: 'HelveticaLTStdLight';
    color:#75848e;
    font-size: 13px;
  }
  .content_info_ronda.actividad_r .list_actividades li p span{
    color:#00a2e1;
  }
  .content_info_ronda.actividad_r .list_actividades .description_c{
    background:url("../img/arrow_link.png") no-repeat scroll right center #edf2f3; 
    overflow: hidden;
    padding: 5px;
   background-size: 20px;
   border-bottom: 1px solid #b7cbcf;
  }
  
  .content_info_ronda.actividad_r .list_actividades .description_c .counter span b{
    font-family: 'HelveticaExtraCompressedRoman';
    font-size: 18px;
    color: #ffa700;
    background: #fff;
    padding: 3px 5px 3px 3px;
    display: inline-block;
    border-radius: 0px 3px 3px 0px;
    font-weight: normal;
  }
  .content_info_ronda.actividad_r .list_actividades .description_c .counter .add{
     background: url("../img/icon_cup.png") no-repeat scroll 7px 4px #ffa700;
    border-radius: 3px 10px 10px 3px;
    padding: 0px 0 0px 35px;
    display: inline-block;
  }
  .content_info_ronda.actividad_r .list_actividades .description_c .counter .total{
    background:url("../img/icon_cup2.png") no-repeat scroll 7px 4px #fff; 
    border-radius: 3px;
    padding: 0px 0 0px 35px;
    display: inline-block;
  }
  .content_info_ronda.actividad_r .list_actividades .description_c .counter .time{
    font-family: 'HelveticaLTStdLight';
    color:#75848e;
    font-size: 10px;
    font-weight: normal;
  }
  .content_info_ronda.actividad_r .list_actividades .description_c span.position{
    font-family: 'HelveticaLTStdBoldCondensed';
    float: left;
    margin-right: 7px;
    color:#767e83;
    font-size: 24px;
  }
  .content_info_ronda.actividad_r .ranking_list .list_actividades li p{
    float: left;
    padding:8px 5px;
    min-width: 110px;
  }
  .content_info_ronda.actividad_r .ranking_list .list_actividades li .avatar{
    width: 35px;
    height: auto;
  }
  .content_info_ronda.actividad_r .ranking_list .list_actividades li .avatar img{
    width: 35px;
    height: auto;
  }
  .content_info_ronda.actividad_r .ranking_list .list_actividades li .counter{
    float: left;
    padding: 5px 0;
  }
  .content_info_ronda.actividad_r .menu_ronda a.active.tab_ranking,#edicion_datos_personales .options a.active.first {
    box-shadow: 3px -1px 4px -3px #444444;
    position: relative;
    z-index: 1;
  }
 /*PAGE INFO RONDA*/
 
 /*PAGE EDITAR DATOS DE PERFIL DEL DEPORTISTA p_edicion_datos_personales.html*/
 .content_list_first .content_edicion.form_data_profile{
    background: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    margin: 0;
    padding: 03px;
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data{
    
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-input-text.ui-body-c{
    border: 1px solid #d1d1d1;
    margin: 4px 0;
 }
  .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-input-text input,
  .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-select span.ui-btn-text{
    color:#879798;
    font-family: 'HelveticaLTStdLight';
    font-size: 14px;
  }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-input-text.ui-focus{
    box-shadow: 0px 0px 3px #22bdea!important;
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-input-text.ui-btn-corner-all.ui-body-c{
    border-radius:3px;
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-input-text.ui-body-c.ui-shadow-inset{
    box-shadow:inset 0 0 0 #fff;
    background: #fff;
    border-radius: 3px;
    
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-select div.ui-btn-corner-all{
    border-radius: 3px;
    background: #fff;
    margin: 4px 0;
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-select div.ui-shadow{
    -moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data div.ui-select .ui-icon.ui-icon-arrow-d{
   background: url("../img/icon_select.jpg") right center transparent no-repeat;
    width: 24px;
    height: 16px;
    background-size: 24px;
    border-left: 1px solid #e1e0e3;
    border-radius: 0;
    padding: 6px 0 17px 7px;
    margin: -19px -9px 0 0px;
 }
 #edicion_datos_personales .content_list_first{
    padding-top: 0;
 }
 #edicion_datos_personales .content_list_first div.options{
    overflow: hidden;
 }
 #edicion_datos_personales .content_list_first div.options a{
    border: none;
    padding: 0;
    margin: 0;
    min-height: 35px;
    font-family: 'helvetica_lightregular';
    font-size: 12px;
    line-height: 35px;
    text-shadow: none!important;
    font-weight: bold;
    width: 50%;
 }
 
 #edicion_datos_personales .content_list_first div.options a.active{
    color:#6b7882
 }
 #edicion_datos_personales .content_edicion.form_data_profile #form_edit_data .change_button_p span.ui-btn-text{
    font-size: 17px;
    text-shadow: 0 0px 0 #FFFFFF;
    font-weight: normal;
 }
 #edicion_datos_personales .content_edicion.form_data_profile #form_edit_data .change_button_p span.ui-btn-inner{
    padding: 0;
    border: 0;
 }
 #edicion_datos_personales .content_edicion.form_data_profile #form_edit_data .change_button_p {
    background: #019add;
    background: #019add;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    padding: 15px 7px;
    line-height: 17px;
    font-family: 'HelveticaLTStdLight';
    text-transform: lowercase;
    font-size: 17px!important;
    margin: 0 0 0 3px;
    float: left;
    clear: none;
    min-width: 107px;
 }
 #edicion_datos_personales .content_edicion.form_data_profile #form_edit_data .right .recuadro{
    float: left;
    width: 50px;
    height: 50px;
 }
 #edicion_datos_personales .content_edicion.form_data_profile #form_edit_data #change_pass.change_button_p{
    line-height: 11px;
    padding: 11px 7px 12px 7px;
    background: #ff6148;
 }
 .buttons_action a{
    color: #fff!important;
    border-radius: 4px;
    padding: 12px 5px;
    width:97%;
    display: block;
    text-align: center;
    font-family: 'HelveticaLTStdBoldCondensed';
    font-size: 18px;
    float: none;
    display: inline-block;
    border-radius: 3px;
 }
 .buttons_action.two a {
     width: 46%;
 }
 .buttons_action a.green{
    background: #00b56b;
 }
 .buttons_action a.orange{
   background: #ff6148; 
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data textarea{
    box-shadow: inset 0 0 0 #fff;
    background: #fff;
    border-radius: 3px;
    height: 100px;
    border: 1px solid #d1d1d1;
    max-width: 100%;
    color: #879798;
    font-family: 'HelveticaLTStdLight';
    font-size: 14px;
    margin:5px 0;
 }
 .content_list_first .content_edicion.form_data_profile #form_edit_data textarea:focus{
    box-shadow: 0px 0px 3px #22bdea!important;
 }
 .form_datos_deportivos .buttons_action{
    margin-top: 10px;
    
 }
 
 #edicion_datos_personales .content_edicion.form_data_profile #form_edit_data .right .recuadro img{
    border-radius:3px;
 }
 /*PAGE EDITAR DATOS DE PERFIL DEL DEPORTISTA p_edicion_datos_personales.html*/
 
 
/* PORTRAIT */
@media only screen
and (max-width: 480px)  
and (orientation:portrait)
{    
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/   
 .content_list_two ul.elite_list li.ui-btn-up-c .content_descripcion.left{
    width: 182px;
 }
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/
 
 /*PAGE DESTACADOS home_destacado.html*/
 .list_destacados li .content_descripcion{
    width: 180px;
    float: left;
 }
 /*PAGE DESTACADOS home_destacado.html*/
 
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 .list_buscan_patro li .cont_bottom .mount{
    display: none;
 }
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 
}
  
/* LANDSCAPE */
@media only screen 
and (min-width: 320px)  
and (max-width: 640px) 
and (orientation:landscape)
{
 
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/   
 .content_list_two ul.elite_list li.ui-btn-up-c .content_descripcion.left p,.content_list_two ul.elite_list li.li.ui-btn-hover-c .content_descripcion.left p
 ,.content_list_two ul.elite_list.ui-listview li.ui-li-has-arrow.ui-btn-hover-c .content_descripcion.left p
 ,.content_list_two ul.elite_list li.li.ui-btn-hover-c .content_descripcion.left a{
    font-size:15px;
 }
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/
 
 /*PAGE DESTACADOS home_destacado.html*/   
 .list_destacados li .content_descripcion{
    max-width: 70%;
 }
 .list_destacados li .content_descripcion p{
    font-family: 'helvetica_lightregular';
    font-size: 15px;
    padding: 20px 5px;
 }
 /*PAGE DESTACADOS home_destacado.html*/
 
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 .list_buscan_patro li .cont_top{
  
 }
 .list_buscan_patro li .cont_bottom {
    
 }
 
 .list_buscan_patro li .cont_bottom .mount{
    display: inline-block;
 }
 .list_buscan_patro li .cont_top .mount{
    display: none;
 }
 .list_buscan_patro li .cont_top .content_descripcion p{
    font-size: 14px;
 }
 .list_buscan_patro li .mount span{
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0 3px;
    text-align: center;
 }
 .list_buscan_patro li .mount,.list_buscan_patro li .link_profile,.list_buscan_patro li .link_patrocina{
    width: 33%;
 }
 .list_buscan_patro li .cont_bottom .link_profile h2,.list_buscan_patro li .cont_bottom .link_patrocina span{
    width: 100%;
    padding:7px 0;
    text-align: center;
     
 }
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 
 /*PAGE RECOMPENSAS HOME*/
 .list_recompensas li .cont_bottom a.link_profile,.list_recompensas li .cont_bottom a.link_patrocina{
    width: 50%;
 }
 .list_recompensas li .cont_bottom a.link_patrocina span,.list_recompensas li .cont_bottom a.link_profile h2{
   width: 100%;
   padding-left: 0;
   padding-right: 0;
 }
 /*PAGE RECOMPENSAS HOME*/
 
 /*PAGE LIST BLOG HOME*/
 .list_blog li .cont_top .content_descripcion p{
    font-size: 14px;
 }
 .list_blog li .cont_top .content_descripcion h2{
    font-size: 15px;
 }
 .content_info_blog .description .image{
    width: 50%;
    float: left;
    margin-right: 10px;

 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment p{
    font-size: 13px;
 }
 .content_info_blog.form_comment .list_comments_blog li .avatar img{
    width: 60px;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment{
    padding: 10px 5px;
    margin-top: 10px;
 }
 /*PAGE LIST BLOG HOME*/
 
}

/* PORTRAIT TABLED*/
@media only screen
and (max-width: 768px)  
and (min-width: 768px)  
and (orientation:portrait)
{    
 
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/      
 .content_list_two ul.elite_list li.ui-btn-up-c, .content_list_two ul.elite_list li.ui-btn-hover-c{
    float: left;
    width: 49%;
    margin: 0 3px!important;
 }
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/   
 
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 .list_buscan_patro li .cont_bottom .mount{
    display: none;
 }
 .list_buscan_patro li{
   width: 49%;
   float: left;
   margin: 3px
 }
 .list_buscan_patro li .link_profile,.list_buscan_patro li .link_patrocina{
    width: 50%;
 }
 .list_buscan_patro li .cont_bottom .link_profile h2,.list_buscan_patro li .cont_bottom .link_patrocina span{
    width: 100%;
    padding:7px 0;
    text-align: center;
     
 }
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 
 /*PAGE RECOMPENSAS HOME*/
 .list_recompensas li .cont_bottom a.link_profile,.list_recompensas li .cont_bottom a.link_patrocina{
    width: 50%;
 }
 .list_recompensas li .cont_bottom a.link_patrocina span,.list_recompensas li .cont_bottom a.link_profile h2{
   width: 100%;
   padding-left: 0;
   padding-right: 0;
 }
  .list_recompensas li .cont_top .recorte{
    width:100px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 5px;
 }
 .list_recompensas li .cont_top .recorte img{
    width:100px;
    height: auto;
    float: left;
    border-radius: 120px;
 }
 .list_recompensas li .cont_top .content_descripcion p{
    font-size: 14px;
 }
 /*PAGE RECOMPENSAS HOME*/
 /*PAGE LIST BLOG HOME*/
 .list_blog li .cont_top .content_descripcion p{
    font-size: 15px;
 }
 .list_blog li .cont_top .content_descripcion h2{
    font-size: 16px;
 }
 .list_blog li .cont_top .time span.hour{
    font-size: 13px;
 }
 .list_blog li .cont_top .time span.day_month{
    font-size: 32px;
 }
 .list_blog li .cont_top .time span.day_week{
    font-size: 15px;
 }
 .list_blog li .cont_bottom span{
    font-size: 13px;
 }
 .list_blog li .cont_bottom span{
    font-size: 13px;
    background-size:30px!important;
    padding: 7px 0 7px 35px!important;
 }
 .list_blog li .cont_bottom{
    margin-bottom: 10px;
 }
 .content_info_blog .description .image{
    width: 50%;
    float: left;
    margin-right: 10px;
}
.content_info_blog .description p.text{
    font-size: 14px;
 }
 .content_info_blog .time_title h2{
    font-size: 20px;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment p{
    font-size: 14px;
 }
 .content_info_blog.form_comment .list_comments_blog li .avatar img{
    width: 60px;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment{
    padding: 10px 5px;
    margin-top: 10px;
 }
 .content_info_blog.form_comment form textarea{
    font-size: 17px;
 }
 .content_info_blog .content_bottom span {
    font-size: 15px;
    background-size: 20px!important;
    padding: 0 0 4px 30px;
 }
 /*PAGE LIST BLOG HOME*/
}

/* LANDSCAPE TABLED*/
@media only screen
and (max-width: 1024px)  
and (min-width: 1024px)  
and (orientation:landscape)
{  
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/      
 .content_list_two ul.elite_list li.ui-btn-up-c, .content_list_two ul.elite_list li.ui-btn-hover-c{
    float: left;
    width: 49%;
    margin: 0 3px!important;
 }
 /*PAGE DEPORTISTAS ÉLITE home_deportistas_elite.HTML*/   
 
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 .list_buscan_patro li .cont_bottom .mount{
    display: none;
 }
 .list_buscan_patro li{
   width: 49%;
   float: left;
   margin: 3px
 }
 .list_buscan_patro li .mount,.list_buscan_patro li .link_profile,.list_buscan_patro li .link_patrocina{
    width: 33%;
 }
 .list_buscan_patro li .cont_bottom .link_profile h2,.list_buscan_patro li .cont_bottom .link_patrocina span{
    width: 100%;
    padding:7px 0;
    text-align: center;
     
 }
 .list_buscan_patro li .mount span{
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0 3px;
    text-align: center;
 }
 .list_buscan_patro li .cont_bottom .mount{
    display: inline-block;
    overflow: hidden;
 }
 .list_buscan_patro li .cont_top .mount{
    display: none;
 }
 .list_buscan_patro li .cont_top .content_descripcion p{
    font-size: 14px;
 }
 /*PAGE BUSCAN PATRCINIO home_buscan_patrocinio.html*/
 
 /*PAGE RECOMPENSAS HOME*/
 .list_recompensas li .cont_bottom a.link_profile,.list_recompensas li .cont_bottom a.link_patrocina{
    width: 50%;
 }
 .list_recompensas li .cont_bottom a.link_patrocina span,.list_recompensas li .cont_bottom a.link_profile h2{
   width: 100%;
   padding-left: 0;
   padding-right: 0;
 }
  .list_recompensas li .cont_top .recorte{
    width:100px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 5px;
 }
 .list_recompensas li .cont_top .recorte img{
    width:100px;
    height: auto;
    float: left;
    border-radius: 120px;
 }
 /*PAGE RECOMPENSAS HOME*/
 /*PAGE LIST BLOG HOME*/
 .list_blog li{
    float: left;
    width: 48%;
    margin: 10px;
 }
 .list_blog li .cont_top .content_descripcion p{
    font-size: 15px;
 }
 .list_blog li .cont_top .content_descripcion h2{
    font-size: 16px;
 }
 .list_blog li .cont_top .time span.hour{
    font-size: 13px;
 }
 .list_blog li .cont_top .time span.day_month{
    font-size: 32px;
 }
 .list_blog li .cont_top .time span.day_week{
    font-size: 15px;
 }
 .list_blog li .cont_bottom span{
    font-size: 13px;
    background-size:30px!important;
    padding: 7px 0 7px 35px!important;
 }
 .list_blog li .cont_bottom{
    margin-bottom: 10px;
 }
 .content_info_blog .description .image{
    width: 50%;
    float: left;
    margin-right: 10px;
 }
 .content_info_blog .description p.text{
    font-size: 14px;
 }
 .content_info_blog .time_title h2{
    font-size: 20px;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment p{
    font-size: 14px;
 }
 .content_info_blog.form_comment .list_comments_blog li .avatar img{
    width: 60px;
 }
 .content_info_blog.form_comment .list_comments_blog li .text_comment{
    padding: 10px 5px;
    margin-top: 10px;
 }
 .content_info_blog.form_comment form textarea{
    font-size: 17px;
 }
 .content_info_blog .content_bottom span {
    font-size: 15px;
    background-size: 20px!important;
    padding: 0 0 4px 30px;
 }
 /*PAGE LIST BLOG HOME*/
}