/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 /*FONTS*/
@font-face {
    font-family: 'CaptureitRegular';
    src: url('fonts/capture_it-webfont.eot');
    src: url('fonts/capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/capture_it-webfont.woff') format('woff'),
         url('fonts/capture_it-webfont.ttf') format('truetype'),
         url('fonts/capture_it-webfont.svg#CaptureitRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* GENERAL */

/* NAVIGATION */
.nav-custom .ui-btn .ui-icon {
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
}
.nav-custom .ui-btn .ui-btn-inner {
    padding-top: 30px !important;
}
.nav-custom .ui-btn-inner .ui-btn-text{
    font-size: 12.5px;
    letter-spacing: -1.5px;    
}
.nav-custom .ui-btn-up-g,
.nav-custom .ui-btn-hover-g {
    border-left: 0px;
}
.footer .nav-custom .ui-btn-inner .ui-btn-text{
    font-family:'CaptureitRegular';
    letter-spacing: 0px;
    color: #000;
    text-shadow: 0 1px 0 #5c5e64;
}
.footer .ui-btn-up-g,
.footer .ui-btn-up-g:visited,
.footer .ui-btn-up-g a.ui-link-inherit,
.footer .ui-btn-hover-g,
.footer .ui-btn-hover-g:visited,
.footer .ui-btn-hover-g:hover,
.footer .ui-btn-hover-g a.ui-link-inherit {
	color: 					#585961;
}
.nav_perfil .ui-icon {
    background: url("../img/bg_perfil.png") no-repeat scroll 50% 50% / 24px 22px transparent;
}
.nav_patrocinio_deportivo .ui-icon {
    background: url("../img/bg_patrocinio_deportivo.png") no-repeat scroll 50% 50% / 18px 22px transparent;
}
.nav_fotos_videos .ui-icon {
    background: url("../img/bg_fotos_videos.png") no-repeat scroll 50% 50% / 44px 22px transparent;
    margin-left: -25px !important;
    width: 50px!important;
}
.nav_blog_muros .ui-icon {
    background: url("../img/bg_blog_muros.png") no-repeat scroll 50% 50% / 24px 22px transparent;
}
.nav_home .ui-icon {
    background: url("../img/bg_home.png") no-repeat scroll 50% 50% / 24px 28px transparent;
}
.nav_login .ui-icon {
    background: url("../img/bg_login.png") no-repeat scroll 50% 50% / 24px 28px transparent;
}
.nav_ranking .ui-icon {
    background: url("../img/bg_ranking.png") no-repeat scroll 50% 50% / 24px 28px transparent;
}
.nav_deportistas .ui-icon {
    background: url("../img/bg_deportistas.png") no-repeat scroll 50% 50% / 24px 28px transparent;
}
.lspacing{
    letter-spacing: -1.2px;
}
.ui-icon-shadow {
    -webkit-box-shadow: 0px 0px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    box-shadow: 0px 0px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 0px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;    
}
.ui-btn-corner-all,
.ui-corner-all{
    border-radius: 5px 5px 5px 5px;
}
.ui-btn.close{
    border-radius: 1em;
}
.ui-btn-text{
    font-size: 17px;
    letter-spacing: -2px;
}
.ui-btn.ui-btn-up-r,
.ui-btn.ui-btn-hover-r{
    margin-bottom: 20px;
}
.btn-access{
    padding-top: 15px;
    border-top: 1px solid #aaaaaa;
    margin-left: 10px;
    margin-right: 10px;
}
.ui-radio label{
    background: none;
    border: none;
}
.ui-radio input{
    display: none;
}
.ui-radio-on .ui-icon{
    background-color: #70a126 /*{global-active-background-color}*/;
}
.ui-radio .ui-btn-icon-left .ui-icon {
    left: 8px;
}
.ui-radio .ui-btn-icon-left .ui-btn-inner{
    padding: 0px 0px 0px 35px;
    height: 22px;
    margin-top: 0;    
}
.ui-radio-off .ui-btn-inner .ui-btn-text,
.ui-radio-on .ui-btn-inner .ui-btn-text{
    font-weight: normal;
    color: #000;
    letter-spacing: -1.2px;
    font-size: 13px;
    text-shadow: 0 0px 0 #000;    
}
.ui-select span.ui-btn-inner{
    padding-left: 7px;
}
.ui-select span.ui-btn-text{
    text-align: left;
    font-weight: normal;
    color: #aaa;
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;    
}
.content_upload_foto{
    overflow: hidden;
    padding: 0;
    padding-left: 8px;
}
.content_upload_foto label{
    float: left;
    font-size: 13px;
    width: 42%;
    padding-left: 27px;
    background: url("../img/subir_foto.png") no-repeat scroll left center transparent;
    background-size:22px;
    margin-top: 14px;
}
.content_upload_foto .upload_foto{
    float: right;
    width: 46%;    
}
.content_upload_foto span.ui-btn-inner{
    padding-top: 0.4em;
    padding-bottom: 0.4em;    
}

label.custom{
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 4px;
    display: inline-block;    
}
#home .ui-content{
    padding: 0;
}
.data_user{
    padding: 5px 6px 8px 6px;
    border-bottom: 1px solid #466b6f;
    background-color: #6bb0c5;
    overflow: hidden;
}
.data_user .recorte{
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.data_user .recorte img{
    width: 100%;
}
.data_user .content{
    float: left;
}
.data_user .content label{
    display: block;
    font-weight: bold;
    text-shadow: 0 0px 0 #000;
    margin-top: 4px;
    letter-spacing: -1px;
    font-size: 20px;
}
.data_user .content span.deporte{
    font-weight: bold;
    font-size: 14px;
    padding-left: 26px;
    text-shadow: 0 0px 0 #000;
    letter-spacing: -1px;
    background: url("../img/deportes/img_deporte.png") no-repeat scroll center left transparent;
    background-size: 22px;
    height: 20px;
    display: block;
    padding-top: 4px;
}

.ui-controlgroup-controls{
    overflow: hidden;
}
.lista_opciones{
    margin: 10px;
    margin-right: 0;
    margin-left: 8px;
}
.lista_opciones .ui-controlgroup-horizontal .ui-btn{
    display: inline-block;
    height: 90px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.lista_opciones .ui-controlgroup{
    margin-bottom: 0;
    margin-top: 0;
}
.lista_opciones .ui-controlgroup-horizontal .ui-btn-inner{
    width: 86px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 58px;
}
.lista_opciones .ui-controlgroup-horizontal .ui-btn{
    border-right-width: 1px;
    border-radius: 5px;
}
.lista_opciones .ui-controlgroup-controls .ui-btn-text{
    height: auto;
    display: inline-block;
    width: 84px;
    font-size: 12px;
    text-shadow: 0 0px 0 #000;
    color: #fff;
    letter-spacing: -1px;
    white-space: normal;
    line-height: 12px;
}
.ui-controlgroup-horizontal .ui-icon {
    margin-left: -17px !important;
    display: inline-block;
}
.ui-controlgroup-horizontal .icon_pencil.ui-btn{
    background: #ca2c2c;
}
.ui-controlgroup-horizontal .icon_pencil .ui-icon {
    background: url("../img/bg_pincel.png") no-repeat scroll left top transparent;
    width: 42px;
    height: 47px;
    background-size: 40px;    
}
.ui-controlgroup-horizontal .icon_info.ui-btn{
    background: #aa2424;
}
.ui-controlgroup-horizontal .icon_info .ui-icon {
    background: url("../img/bg_info.png") no-repeat scroll left top transparent;
    width: 42px;
    height: 47px;
    background-size: 40px;
    margin-left: -20px !important;
}
.ui-controlgroup-horizontal .icon_recompensa.ui-btn{
    background: #711515; 
}
.ui-controlgroup-horizontal .icon_recompensa .ui-icon {
    background: url("../img/bg_recompensa.png") no-repeat scroll left top transparent;
    width: 42px;
    height: 47px;
    background-size: 40px;
    margin-left: -20px !important;   
}
.ui-controlgroup-horizontal .icon_old_recompensa.ui-btn{ 
    background: #861b1b;
}
.ui-controlgroup-horizontal .icon_old_recompensa .ui-icon {
    background: url("../img/bg_old_recompensa.png") no-repeat scroll left top transparent;
    width: 60px;
    height: 48px;
    background-size: 60px;
    margin-left: -25px !important;
}

/* PAGES */

/* INDEX/LOGIN*/
#view .ui-content,
#login_user .ui-content,
#register_user .ui-content,
#register_finalizado .ui-content{
    background: #FFFFFF;
    margin: 40px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0;
}
#register_user .ui-content,
#register_finalizado .ui-content{
    margin-bottom: 10px
}
#login_user .ui-content{
    margin-bottom: 14px;
}
#view h1, 
#login_user h1{
    font-family:'CaptureitRegular';
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #a22626;
    letter-spacing: -1.2px;
    margin: 0.2em 8% 0.5em;
    height: auto;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#view h1 img,
#login_user h1 img{
    width: 100%;
}

#view .usuarios-patrocinalos{
    padding-top: 235px;
    background: url("../img/bg-index.png") no-repeat scroll center top transparent;
}
#view .content_usuarios{
    padding: 5px 10px 0px 10px;
    background: url("../img/bg-usuarios-index.png") repeat scroll 0 0 transparent;
    overflow: hidden;
}
#view .content_usuarios p{
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;
    padding-bottom: 2px;
}
#view .content_usuarios .list > li{
    float: left;
    margin: 1px;
    border: 1px solid #fff;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
    height: 49px;
    width: 49px;
    border-radius: 4px;
}

/*LOGIN */

#login_user .recuperar_contrasena,
#register_user .guardar,
#register_finalizado .guardar{
    margin: 0 32px;
    margin-bottom: 10px;
}
#register_user .guardar,
#register_finalizado .guardar{
    margin: 0 70px;
}

#login_user .access_login div.ui-body-cu.ui-input-text:first-child{
    background: url("../img/bg-login.png") no-repeat scroll left center transparent;
    background-size: 20px;
    background-position: 6px;
    margin-bottom: 12px;
}
#login_user .access_login div.ui-body-cu.ui-input-text:last-child{
    background: url("../img/bg-password.png") no-repeat scroll left center transparent;
    background-size: 20px;
    background-position: 6px;
}
#login_user .ui-controlgroup{
    margin-bottom: 16px;
}
#login_user p.text{
    font-size: 12px;
    margin-bottom: 18px;
    margin-top: 5px;    
}
#login_user p.text span{
    font-weight: bold;
    font-size: 13px;
}

/* REGISTRO */

#register_user .access_login .ui-input-text{
    margin: 0.3em 0;
}
#register_user .btn-access,
#register_finalizado .btn-access{
    border-top: 0;
}
#register_user .texto_formulario{
    background: url("../img/bg_inline.png") repeat-x scroll center center transparent;
}
#register_user .texto_formulario span{
    text-align: center;
    display: block;
    font-size: 12px;
    background-color: #fff;
    margin: 0 4.5em;
    color: #354f8e;    
}
#register_user .register_option_fb .facebook_registro .ui-icon{
    background: url("../img/bg_facebook.png") no-repeat scroll center top transparent;
    border-radius: 0px;
    width: 34px;
    height: 25px;
    background-size: 15px;
    top: 40%;
    left: 10px;
    border-bottom: 0;
    display: block;
}

/* REGISTRO FINALIZADO */
#register_finalizado .fecha_nacimiento{
    display: block;
    overflow: hidden;
}
#register_finalizado .fecha_nacimiento div.ui-input-text{
    width: 77%;
    display: inline-block;
    float: left;
    margin-bottom: 0px;
}
#register_finalizado .fecha_nacimiento a.calendario{
    width: 15%;
    display: inline-block;
    float: right;
    margin-top: 8px;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    background: url("../img/bg_calendario.png") no-repeat scroll center center transparent;
    background-size: 35px;
}
#register_finalizado .opciones{
    margin: 0 2em;
}
#register_finalizado .opciones .first,
#register_finalizado .opciones .second{
    height: 25px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;    
}
#register_finalizado .opciones .first .ui-radio:first-child,
#register_finalizado .opciones .second .ui-radio:first-child{
    left: 0;
    position: absolute;
    width: 100px;
}
#register_finalizado .opciones .first .ui-radio:last-child,
#register_finalizado .opciones .second .ui-radio:last-child{
    right: 0;
    position: absolute;
    width: 100px;
}
#register_finalizado .save_data{
    font-size: 12px;
    padding-left: 40px;
    display: inline-block;
    background: url("../img/succes.png") no-repeat scroll center left transparent;
    background-size: 30px;
    padding-bottom: 5px;
}

/* RESPONSIVO */

@media only screen and  (max-width: 479px) {
    #view h1,
    #login_user h1{
        font-size: 26px;
        margin: 0.2em 4% 0.5em;
    }
    #view .content_usuarios p{
        font-size: 12px;
        letter-spacing: -1.2px;
    }    
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .ui-radio-off .ui-btn-inner .ui-btn-text, 
    .ui-radio-on .ui-btn-inner .ui-btn-text {
        letter-spacing: 0px;
    }
    #view .content_usuarios .list li > img{
        height: 75px;
        width: 75px;        
    }
    #view .content_usuarios .list > li{
        margin-right: 5px;
        margin-bottom: 4px;
        margin-left: 5px;
        height: 75px;
        width: 75px;
    }
    .content_upload_foto label{
        font-size: 16px;
        width: 40%;
        letter-spacing: 0px;
    }
    .content_upload_foto .upload_foto {
        width: 52%;
    }
    #register_user .register_option_fb .facebook_registro .ui-icon {
        left: 20%;
        border-bottom: 0;
        display: block;
    }    
    #register_user .texto_formulario span {
        letter-spacing: 0px;
        margin: 0 9em;
    }    
    #register_user .register_option_fb label,
    #register_finalizado .save_data{
        letter-spacing: 0px;
    }
    #register_finalizado .opciones{
        margin: 0 7em;
    }
    #register_finalizado .fecha_nacimiento div.ui-input-text{
        width: 85%;
    }
    #register_finalizado .fecha_nacimiento a.calendario{
        width: 9%;
    }
}