.muro-propio {margin: 0 5px 5px 5px;}
.muro-propio .evento{border: 1px solid #ddd;margin-bottom: 5px;background-color: #fff;}
.muro-propio a{color: #3498DB;}
.muro-propio .patrocina i { font-size: 22px !important;}
.muro-propio .avatar.usuario {border-radius: 120px 120px 120px 120px;}
.muro-propio .avatar.padrino {background: none repeat scroll 0 0 #E74C3C;border-radius: 32px 32px 32px 32px;padding: 2px;}
.muro-propio .avatar.deportista {border-radius: 4px 4px 4px 4px; }
.muro-propio .patrocina{padding:0px 0 10px 40px;font-family:"Open Sans",sans-serif;font-size:24px;font-weight:400;line-height:110%;color:#27ae60}
.muro-propio .patrocina strong{font-weight:700}
.muro-propio .patrocina p{margin:10px 0;padding:10px 0 0;border-top:1px dotted #ecf0f1;font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:130%;color:#7f8c8d}
.muro-propio .evento article{width:auto;border:1px solid #bec2c3;color:#7f8c8d}
.muro-propio .evento .quien{margin:20px;font-size:11px;line-height:130%}
.muro-propio .quien .avatar{margin:0 10px 0 0;float:left}
.muro-propio .quien time{color:#bdc3c7}
.muro-propio .quien a{font-weight:bold}
.muro-propio .reacciones{padding:10px 20px 20px;border-top:1px dotted #ecf0f1;overflow: hidden;}
.muro-propio .reacciones a{float: left;margin-right: 12px;}
.muro-propio .comentario{width:223px;float:left;font-size:11px;line-height:130%;color:#bdc3c7}
.muro-propio .comentario a{font-weight:bold}
.muro-propio .botones .boton.simple [class^="icon-"],.muro-propio .botones .boton.simple [class*=" icon-"],.actividad-proyecto .botones .boton.simple [class^="icon-"],.actividad-proyecto .botones .boton.simple [class*=" icon-"]{margin:0}
.muro-propio .patrocina{margin:0 20px;position:relative}
.muro-propio .patrocina [class*=" icon-"].icono-grande, .muro-propio .patrocina [class^="icon-"].icono-grande{position: absolute;font-size:32px;top:0;left:10px}
.muro-propio .evento article .contenido-imagen{text-align: center;}
.muro-propio .contenido-video .contenedor_imagen{width: 305px;margin: 0 auto;position: relative;}
.muro-propio .contenido-video .boton{position: absolute;right: 10px;top: 10px;}
.muro-propio .icon-film2{background: url("../img/bg_video_publicacion.png") no-repeat scroll top right transparent;background-size: 25px 25px;width:25px;height: 25px;border-radius: 4px;border: 0;display: inline-block;}
.muro-propio .pie-foto{font-size: 11px;padding: 0 20px 20px; line-height: 130%;letter-spacing: 0;}